# Python
.venv/
__pycache__/
*.pyc
.env
firebase-credentials.json
farah-notification-firebase-adminsdk*.json
*-firebase-adminsdk-*.json

# Flutter / Dart
.dart_tool/
build/
*.log

# OS
.DS_Store
Thumbs.db
firebase_admin.json
